:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box; /* Własności width i height zawierają dopełnienie i obramowanie, ale nie margines. */
}

body {
    font-family: var(--font-open-sans); /* Zmienna jako font dla całego body. */
}

a {
    text-decoration: none; /* Usunięcie podkreślenia z linków. */
}

.container {
    width: 1352px; /* Szerokość kontenera strony. */
    margin: 0 auto; /* Wyśrodkowanie strony względem ekranu. */
}

.header {
    height: 70px; /* Wysokość header. */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); /* Nadanie cieniowania. */
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
}

.nav__container ul {
    display: flex;
}

.nav__container li {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 32px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.nav__container li:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.nav__container ul {
    padding: 0 26px;
}

/*.nav__container ul:last-child{*/
/*    padding-right: 0;*/
/*}*/


